#main-div {
    gap: 50px;
    padding-right: 20px;
}

body{
    background-image: url('../img/school_management.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}